@import 'null';
@import 'fonts';


#app {
    width: 100%;
    overflow: hidden;
}

.hero {
    width: 100%;
    min-height: 100dvh;
    background: url('/img/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-attachment: fixed;
    padding-top: 10vh;
    overflow: hidden;

    &_header {
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        &_text {

            padding: 0px 15px;
            text-align: center;
            font-family: 'modak';
            font-size: 96px;
            color: #FF0000;
            text-shadow: 3px 3px 0px #000;
            width: 100%;

            @media(max-width: 700px) {
                font-size: 64px;
                line-height: 60px;
            }
        }

        &_media {
            width: 100%;
            padding: 0px 24px;
            display: flex;
            justify-content: right;
            align-items: end;
            flex-direction: column;
            gap: 20px;

            img {
                width: 60px;
            }
        }
    }

    &_header,
    &_decor {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_vamp {
        align-items: end;

        img {
            max-height: 60vh;
            width: 100vw;
        }
    }

    &_pump1 {
        left: 300px;
        align-items: end;
    }

    &_pump2 {
        left: 450px;
        align-items: end;

        img {
            width: 200px;
        }
    }

    &_flag {
        left: -350px;
        align-items: end;
        top: 100px;

        img {
            width: 400px;
            transform: rotate(-10deg);
        }
    }

    &_bat1 {
        left: -350px;
        align-items: end;
        top: -200px;

        img {
            width: 400px;
            transform: rotate(-10deg);
        }
    }

    &_bat2 {
        left: 300px;
        align-items: end;
        top: -150px;

        img {
            width: 500px;
            transform: rotate(20deg);
        }
    }
}


.run {
    background-color: red;

    &_inner {
        display: flex;
        justify-content: center;
        align-items: center;

        animation: run 5s infinite linear;

        @keyframes run {
            0% {
                transform: translate(0px, 0px);
            }

            100% {
                transform: translate(130px, 0px);
            }
        }
    }

    &_text {
        font-family: 'inter';
        font-size: 24px;
        color: #000;
        min-width: 130px;
        text-align: center;
    }
}

.tokenomics {
    width: 100%;
    background: url('/img/tokenomics.jpg');
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10vh 15px;

    &_decor {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_bat1 {
        left: -300px;
    }

    &_bat2 {
        left: 200px;
        transform: rotate(30deg);
        top: 100px;

        img {
            width: 300px;
        }
    }

    &_header {
        padding: 0px 15px;
        text-align: center;
        font-family: 'modak';
        font-size: 96px;
        color: #FF0000;
        text-shadow: 3px 3px 0px #000;
        position: relative;
        z-index: 2;

        @media(max-width: 700px) {
            font-size: 64px;
            line-height: 60px;
        }
    }

    &_list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        position: relative;
        z-index: 2;

    }

    &_element {
        max-width: 300px;
        // max-width: 90vw;
        width: 100%;
        background-color: #000;
        border-radius: 24px;
        border: 4px solid red;
        padding: 0px 24px;
        box-shadow: 3px 3px 0px #000;

        &_header {
            height: 60px;
            font-size: 36px;
            font-family: 'modak';
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_content {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            text-align: center;
            line-height: 40px;
            font-family: 'modak';
            color: red;
            border-top: 3px solid red;

        }
    }
}


.ca {
    width: 100%;
    background: url('/img/happy.jpg');
    background-attachment: fixed;
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    padding: 10vh 15px;

    &_header {
        padding: 0px 15px;
        text-align: center;
        font-family: 'modak';
        font-size: 96px;
        color: #FF0000;
        text-shadow: 3px 3px 0px #000;

        @media(max-width: 700px) {
            font-size: 64px;
            line-height: 60px;
        }

        @media(max-width: 500px) {
            font-size: 44px;
            line-height: 40px;
        }
    }

    &_block {
        margin-top: 120px;
        display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
    }

    &_value {
        padding: 4px 12px;
        border-radius: 24px;
        background-color: red;
    }

    &_copy {
        img {
            width: 60px;
        }
    }

    &_label,
    &_value {
        font-family: 'holt';
        font-size: 24px;

        @media(max-width: 500px) {
            font-size: 12px;
        }
    }

    &_decor {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

}